@import './base.css';
/* @import '@coreui/coreui/dist/css/coreui.min.css'; */
/* @import 'bootstrap/dist/css/bootstrap.min.css'; */

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.title {
  display: flex;
}

header {
  line-height: 1.5;
  max-height: 100vh;
}

.pages {
  display: flex;
}

nav {
  background-color: var(--color-background-soft);
  border-radius: 25px;
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
}

nav a.router-link-exact-active {
  color: var(--color-text);
  background-color: var(--color-border-hover);
  border-radius: 25px;
}

nav a {
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

.page {
  padding: 1em;
  text-align: center;
}

a {
  text-decoration: none;
}

@media (min-width: 1024px) {
  #app {
    grid-template-columns: 1fr 1fr;
  }
}
